<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwY88wgTB5zWC94VK_v4bLy8G2-WUSDe4</string>
	<key>GCM_SENDER_ID</key>
	<string>156777556781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.wonderWords</string>
	<key>PROJECT_ID</key>
	<string>wonder-words-3fada</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-words-3fada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156777556781:ios:b9cac90956c9509214c1a4</string>
</dict>
</plist>